/* Header Style
====================================*/
#header-top{background:#e67e22; }

/* Service Box Style
====================================*/
.serviceBox_2 .service-icon i,
.serviceBox_3:hover .service-icon,
.serviceBox_4:hover .service-icon a > span,
.serviceBox_5 > span{
    background:#e67e22;
}

.serviceBox_3:hover .service-icon{ border-color: #e67e22; }

.serviceBox_1 .read,
.serviceBox_3:hover .read a,
.serviceBox_8 .service-icon i{ color: #e67e22;}

.serviceBox_5 .read a{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #CC6C19 0%, #CC6C19 50%, #e67e22 50%) repeat scroll 100% 0 / 200% 100%;
}

.serviceBox_7 .service-icon{ background: #e67e22; }

/* Common Background Color Style
====================================*/

.flickr-feed li .hover,
#breadcrumbs,
.swipe-navi .swipe-left,
.swipe-navi .swipe-right,
.highlight.default,
.promo_box.reverse,
#filter li.selected a:before,
.carousel-pagination li.active,
.panel-title > a,
.table .btn.grey:hover{
    background-color: #e67e22 !important;
}

/* Common Text Color Style
====================================*/
.testimonial-review small,
.dropcap.default,
.active_acc .panel-title a,
.panel-title .collapsed .left-icon,
.panel-title .collapsed::after,
.recent_tab_list li a:hover,
.product .product-info .product-prices p.price-new,
.feature-block h4,
.panel .panel-title > a::before,
.serviceBox_4 .service-icon i,
.post-title > a:hover,
.post-slide a.readmore:hover,
.sidebar .widget ul.arrows_list li a:hover,
.sidebar .widget ul.archives_list li a:hover,
.parallax-testimonial-review small,
.footer li a:hover,.author_bio > h5 a,.author_name > a:hover,.project_details .details li a:hover{
    color: #e67e22;
}

/* Accordion Style
====================================*/
.panel-title > a{
    border-color: #e67e22;
}

/* Tabs Style
====================================*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
.nav-tabs li.active, .nav-tabs li.active a, .nav-tabs li.active a:hover{border-top-color:#e67e22; color:#e67e22;}

.vertical-tab .nav-tabs li.active a, .vertical-tab .nav-tabs li.active a:hover, .vertical-tab .nav-tabs > li.active > a:focus{
    border-left-color: #e67e22;
}

/* List & Bullets Style
====================================*/
.list_style.square li:before,
.list_style.circle li:before{
    background: #e67e22;
}

.list_style li a:hover,
.multi-icon-list li i.fa,
.list_style.star li:before,
.list_style.right-arrow li:before,
.list_style.hand li:before,
.list_style.play li:before,
.list_style.dubble-right-arrow li:before,
.dropdown-items li .shope-cart .cart-product .right-data p{
    color: #e67e22;
}

/* Buttons & Headings Style
====================================*/
.btn-default,
.dropcap_block.default,
.icon_lists .fa-hover a:hover,
.dividerHeading h4::after,
.dividerHeading h4::before,
.widget_title h4::after,
.widget_title h4::before,
.slides .slider-read
{
    background-color: #e67e22;
}

.theme-color-pt .btn-default{background: #e67e22;}

.btn-default:hover,
.theme-color-pt .btn-default:hover,
.slider-read:hover,
.cart-buttons .btn:hover{background: #B0601A ;}

.cart-buttons .btn.grey:hover{
    background-color: #e67e22 !important;
}

.pricingTable_1 .price-value {
    background-color: #e67e22;
    box-shadow: 0 0 0 2px #e67e22;
}

.pricingTable_1 .btn-block:hover{
    background: #727272 !important;
}

.page_title h2,
.table .btn.grey:hover{ border-color:#e67e22;}

.promo_box.reverse .pb_action a.btn:hover{
    background: #fff !important;
    color: #e67e22;
}

/* Blog Page Style
====================================*/
#site-searchform #searchsubmit,
.tags li a:hover,
.shares li a:hover,
.blogPic .blog-hover .icon,
.blog_medium .day,
.blog_large .day, .blog_single .day,
.author_desc{
    background-color: #e67e22;
}

#site-searchform #searchsubmit:hover{background-color:#B0601A;}
.panel.active_acc, .panel:hover{ border-top-color:#e67e22;}

.comment-container:hover {border-color:#e67e22;}
.form-control:focus,#site-searchform #s:focus {border-color:#e67e22;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(230, 126, 34, 0.6);}

blockquote.default,.theme-color-pt .pricingTable{border-color:#e67e22;}

.blogMeta a:hover, .blogTitle span:hover,
.blog_large .post_meta h2:hover a, .blog_single .post_meta h2:hover a,
.blogTitle > a:hover h2,
.blog_large .post_meta .metaInfo > span > a:hover, .blog_single .post_meta .metaInfo > span > a:hover,
.blog_medium .post_meta .metaInfo > span > a:hover,
.blog_medium .post_meta h2:hover a,
#comment-list li .comment-container:hover a,
#comment-list li .comment-container:hover .comment-date,
.comments_list a,
.masonry_wrapper_blog .metaInfo a:hover,
.blog-item > span a:hover,
.blog-title a:hover
{
    color: #e67e22;
}

/* Home Page Style
====================================*/
.social_media_team{background:rgba(230, 126, 34, 0.55);}

.team-info { background:rgba(230, 126, 34, 0.9); }

.post-detail a:hover{ color: #e67e22;}
.post-detail .read-more { color: #e67e22; }
.post-detail .read-more:hover{ color:#B0601A; }

.testimonial-item blockquote {border-top: 3px solid #e67e22;}
.testimonial-review > img {	border: 2px solid #e67e22;}

.progress_skill .bar {background: #e67e22;}
.progress_skill:hover .bar { background: #d35400 !important;}

.counter-parallax:before{ background-color: rgba(230, 126, 34, 0.8); }


/* Portfolio & Recent Item Style
====================================*/
#filter li a{background-color:#e67e22;}
#filter li.selected a, #filter li a:hover{background-color: #CC641F;}

figure.effect-bubba {background: #e67e22;}

.touching  .option a:hover{color: #e67e22;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background:#e67e22;
    border-color: #e67e22;
}

/* Navigation Menu Bar Style
====================================*/
.navbar-default .navbar-nav > li:hover > a{background: #DE7B23 !important;}

.sticky-wrapper.is-sticky #menu-bar .nav.navbar-nav li.active, .sticky-wrapper.is-sticky #menu-bar .nav.navbar-nav li:hover {
    background-color: #E67E22;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #E67E22 !important;
}

.dropdown-items li {
    border-left: 1px solid #ea9347;
}

.nav.navbar-nav > li:hover > a {
    background:#D3711C;
    border: 2px solid #D3711C;
}
.navbar-nav > li > ul:before{ border-bottom-color:#e67e22; }
.navbar-nav .dropdown-menu > li > a:hover{ background: #e67e22; }

@media only screen and (max-width: 767px) {

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
        background:#e67e22;
    }

    .nav.navbar-nav li.active > a{
        background: #DE7B24 !important;
    }
}