body{
	background-color: #fbfbfb !important;
	font-family: Roboto-Regular;
}

::selection{
	color: #e8008a;
	background-color: #0D0D0D;
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../font/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../font/Roboto-Bold.ttf");
}

.nav-pos{
	margin-bottom: 70px;
}

.navbar-color{
	background-color:#d6ab01;
}

.navbar-color img{
	max-width: 200px;
}


.owl-dots{
	height: 0;
}

.banner{
	margin: 15px 0 15px 0;
}

.main-bnr{
	
}

.main-bnr img{
	max-width: 680px;
	width:100%;
	height: auto;
}

.welcome-card{ 
	background-color: #e6be1e; 
	padding: 50px 0;
}

.welcome-card i{
	background-color: #ffffff;
    padding: 10px 20px;
    color: #e6be1e !important;
    font-weight: bold;
    font-size: 36px;
	float: left;
	margin: 0px 0 0 0;

}

.welcome-card h3{
	font-family: Roboto-Bold;
	font-size: 22px;
	margin: 0px 0 0 65px;
	color: #ffffff;
	
}

.welcome-card p{
	font-family: Roboto-Light;
	font-size: 16px;
	color: #ffffff;
	line-height: 18px;
}

.olympiad-card{
	background-color: #ffffff;
	padding: 50px 0;
}


.olympiad-card i{
    padding: 10px 20px;
    color: #ffffff !important;
    font-weight: bold;
    font-size: 36px;
	float: left;
	margin: 0px 0 0 0;

}

.olympiad-card h3{
	font-family: Roboto-Bold;
	font-size: 22px;
	margin-left: 65px;
	color: #505050;
	
}

.olympiad-card p{
	font-family: Roboto-Light;
	font-size: 16px;
	color: #999999;
	line-height: 18px;
}

.learning-features{
	padding: 50px 0;
}

.learning-features h6{
	font-family: Roboto-Bold;
	color: #505050;
}

.side-nav{
	background-color: #ffffff;
	padding: 0 20px;
	border-top: 4px solid #e6be1e;
	box-shadow: 0px 14px 18px 7px #d4d4d447;
}

.side-nav a{
	display: table !important;
    width: 100%;
    padding: 15px 0px;
	border-bottom: 1px solid #E6E7EB !important;
	color: #000000;
	
}

.side-nav a:last-child{
	border-bottom: 0 !important;
}

.category-box{
	padding: 50px 0;
}

.software-category{
	background-color: #ffffff;
	box-shadow: 2px 1px 16px 5px #ebebeb;
	margin-bottom: 30px;
	
}

.software-category img{
	max-width: 100%;
}

.software-category iframe{
	width: 100%;
}

.software-category h6{
	font-family: Roboto-Bold;
	padding: 10px 10px 0 10px;
	color: #505050;
}
.software-category a:hover{
	text-decoration: none;
}

.software-category p{
	font-family: Roboto-Light;
	font-size: 14px;
	padding: 10px 10px 15px 10px;
	color: #999999;
	line-height: 18px;
	
}

.card-tag{
	background-color: #6c98e1;
	font-family: Roboto-Light;
	font-size: 12px;
	padding: 2px 5px;
	color: #ffffff;
	border-radius: 2px;
}

.list-group-item{
	border: none;
}

.list-group-item.active {
    z-index: 2;
    color: #e6be1e;
    background-color: inherit;
    border-color: inherit;
	
}

.list-group-item{
	padding: 3px 0 3px 0;
	font-size: 16px;
	font-family: Roboto-Light;
	
}

.list-group-item-action:hover {
    z-index: 1;
    color: #e8008a;
    text-decoration: none;
    background-color: inherit;
	
}



.elcat-footer{
	background-color: #f1f1f1;
	padding: 50px 0;
}


.about-footer h6{
	font-family: Roboto-Bold;
	color: #505050;
}

.about-footer p{
	font-family: Roboto-Light;
    font-size: 16px;
    color: #6f6f6f;
    line-height: 18px;
	margin: 20px 0;
}
.about-footer button{
	padding: 8px 24px;
	color: #ffffff;
	font-family: Roboto-Regular;
}

.btn-animation button{
	background: linear-gradient(90deg, #fff 50%, #e6be1e 50%);
 	position: relative;
	border: none;
}

.btn-animation button:after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #e8008a 50%, transparent 50%);
  z-index: -1;
}

.btn-animation button,
.btn-animation button:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s;
}

.btn-animation button:hover,
.btn-animation button:hover:after {
  background-position: 0;
  color: #ffffff;
}


.btn-animation button:focus{
	outline:none;
	box-shadow: none;
}

.about-footer ul li{
	list-style-type:none;
}

.about-footer ul li a{
	text-decoration:none;
	color: #6f6f6f;
}

.get-touch{
	background-color:#2d2d2d;
	
}

.get-touch-detail{
	padding: 50px 0 50px 15px;
}

.get-touch-detail h6{
	font-family: Roboto-Regular;
	color: #ffffff;
	padding-bottom: 20px;
}

.get-touch-detail p{
	color: #7c7c7c;
	font-family: Roboto-Light;
    font-size: 16px;
}

.get-touch-detail i{
	float: left;
	padding-right: 10px;
}

.footer-bottom p{
	padding: 20px 30px 0px 30px;
	font-size: 14px;
	color: #7c7c7c;
}

.footer-bottom p a{
	text-decoration: none;
	color: #6c98e1;
	font-family: Roboto-Bold;
}

.scroll-up{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0 40px 40px 0;
	text-align: center;
	background-color:#e6be1e; 
	border-radius: 50px;
	padding: 20px 25px;
	color: #ffffff;
	display: none;
}

.scroll-up:hover{
	background-color:#e8008a;
	color: #ffffff;
}

.nav-item .active{
	font-family: Roboto-Bold !important;
	color:#e6be1e !important;

}

.nav-item .nav-link{
  position: relative;
}

.nav-item .nav-link:before, .nav-item .nav-link:after{
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: #e8008a;
}

.nav-item .nav-link.nav-1:before, .nav-item .nav-link.nav-1:after {
  left: 0;
}


.nav-item:hover .nav-link:before, .nav-item:hover .nav-link:after {
  width: 100%;
  opacity: 1;
}





.main_menu {
    border-top: 1px solid #eeeeee;
}

.main_menu .navbar {
  padding: 20px 0px;
}

.main_menu ul li {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 22px;
}

.main_menu ul li :hover {
    color: #ff8b23 !important;
}

.main_menu .navbar-light .navbar-nav .nav-link {
    color: #2a2a2a ;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.dropdown .dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    margin-top: 18px;
}

.dropdown-menu {
    border: 0px solid rgba(0, 0, 0, 0.15) !important;
    background-color: #fafafa;
}

.dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 8px 20px;
}

.main_menu .header_social_icon ul li {
    padding-right: 13px;
}

.main_menu .header_social_icon ul li a {
    color: #c3c6c9;
}

.sub_header {
    padding: 20px 0px;
}

.sub_header .sub_header_social_icon a {
    font-size: 14px;
    color: #555555;
    margin-left: 60px;
    display: inline-block;
}

.sub_header .sub_header_social_icon a i {
    margin-right: 12px;
    color: #e6be1e;
}

.sub_header_social_icon button{
	padding: 8px 24px;
    color: #ffffff;
    font-family: Roboto-Regular;
	margin-left: 20px;
	border-radius: 0;
}

.login-btn button{
	padding: 8px 24px;
    color: #ffffff;
    font-family: Roboto-Regular;
	margin-right: 40px;
	border-radius: 0;
}

/*
.sub_header .sub_header_social_icon .register_icon {
    border: 1px solid #e5e9ed;
    padding: 9px 26px 9px 60px;
    border-radius: 50px;
    position: relative;
}

.sub_header .sub_header_social_icon a {
    font-size: 14px;
    color: #555555;
    margin-left: 60px;
    display: inline-block;
}

.sub_header .sub_header_social_icon .register_icon i {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border: 1px solid #e5e9ed;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: -1px;
    -webkit-transition: 2s;
    transition: 2s;
}
*/

#logo a img{
	max-width: 200px;
}

.header_area{
	background-color: #ffffff;
}

.menu_fixed {
    position: fixed;
    z-index: 9999 !important;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub_header .sub_header_social_icon .register_icon:hover {
    padding: 9px 60px 9px 26px;
    background-color: #e8008a;
    color: #fff;
}

.sub_header .sub_header_social_icon .register_icon:hover i {
    left: auto;
    right: -14px;
    top: -1px;
    color: #fff;
}

a:hover, a :hover {
    color: #e8008a;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.main_menu ul li :hover {
    color: #e8008a!important;
}

.get-touch .newsletter h6 {
    font-family: Roboto-Regular;
    color: #ffffff;
    padding-bottom: 0px;
	text-transform: uppercase;
	margin-top: 50px;
}

.get-touch .newsletter p {
    color: #7b838a;
}

.get-touch .newsletter .form-wrap {
    margin-top: 25px;
}

.get-touch .newsletter input {
    height: 48px;
    border: none;
    width: 67% !important;
    font-weight: 400;
    background: transparent;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #e1e1e1;
    color: #999999;
	box-shadow: none;
}

/*
@media (min-width: 400px)
.get-touch .single-footer-widget .click-btn {
    left: -50px;
}
*/

.get-touch .newsletter .click-btn {
    background-color: #e6be1e;
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 20px;
    border: 0;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto-Regular;
    position: relative;
    left: 0;
}


.page-bg{
	background-image: url("../img/page-bg.jpg");
	min-height: 200px;
	background-position: center center;
	border-bottom: 1px solid #e1e1e1;
}

.page-bg ul {
	flex-direction: row;
	padding: 80px 0 0 0px;
	
}

.page-bg ul li{
	font-size: 14px;
	
}

.page-bg ul li a{
	color:#e8008a;
	font-family: Roboto-Bold;
}

.arrow-r::after{
	content: "\f0da" !important;
    font-family: FontAwesome !important;
    padding: 0 9px !important;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    top: 1px;
    color: #7f7f84;
}

/*Contact Us*/

.contact-info{
	margin-top: 40px;
	margin-bottom: 40px;
}

.welcome-content h2{
	font-family: Roboto-Bold;
}

.cnt-color{
	color:#e6be1e;
}

.welcome-content p{
	font-family: Roboto-Light;
	font-size: 16px;
    color: #6f6f6f;
    line-height: 18px;
}

.welcome-content h4{
	font-family: Roboto-Bold;
	padding-top: 20px;
}

.welcome-content ul li{
}

.welcome-content ul li::before{
	content: "\f0da" !important;
    font-family: FontAwesome !important;
    padding: 0 9px 0 0 !important;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    top: 1px;
	color: #e6be1e;
}

.wh-content-box{
	box-shadow: 0px 2px 7px #d4d4d4;
	background-color: #ffffff;
	padding: 7px 0 15px 0;
}

.wh-content-box h4{
	font-size: 18px;
	font-family: Roboto-Bold;
	margin: 10px 0 10px 30px;
	
}

.wh-content-box ul{
	margin: 0;
    padding: 0;
    display: block;
}

.wh-content-box ul li{
	display: table !important;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    padding: 15px 38px;
}

.wh-content-box ul li:hover{
	background-color: #fbfbfb;
}

.wh-content-box ul li:hover span{
	color: #e8008a;
}

.wh-content-box ul li span{
	display: table-cell;
   
}

.wh-content-box ul li span.right{
	text-align: right;
}

.gmap-wrapper{
	margin-bottom: 35px;
}

.gmap{
	padding: 0;
}

.gmap iframe {
    margin-bottom: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
}

.red{
	color: #FF0004 !important;
}

.line{
	border-top: 4px solid #ebebeb;
	margin: 30px 0;
}

.contact-box{
	background-color: #ffffff;
	padding: 40px 40px 40px 40px;
	border: 1px solid #ebebeb;
}

.right{
	float: right;
}

.contact-box input{
	border-radius: 0;
	border: none;
	background-color: #eeeeee;
	font-size: 15px;
}

.contact-box input:focus{
	box-shadow: none;
	background-color: #eeeeee;
}

.contact-box textarea{
	border-radius: 0;
	height: 141px;
	border: none;
	background-color: #eeeeee;
}

.contact-box textarea:focus{
	box-shadow: none;
	background-color: #eeeeee;
}

.all-field{
	font-size: 14px;
	color: #7c7c7c;
}

.contact-btn button{
	padding: 8px 24px;
    color: #ffffff;
    font-family: Roboto-Regular;
    border-radius: 0;
}

/*Video-Popup*/

.grtyoutube-popup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99999;
}

.grtyoutube-popup-content {
	margin-top:100px;
	width:95%;
	max-width:850px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.grtyoutube-popup-close {
	position:absolute;
	top:-30px;
	right:0;
	color:#FFF;
	font-size:25px;
	width:17px;
	height:17px;
	cursor:pointer;
}

.grtyoutube-iframe {
	width:100%;
	height:480px;
}
@media (max-width:767px) {
	.grtyoutube-iframe {
		width:100%;
		height:350px;
	}
}

.grtyoutube-dark-theme{
	background: rgba(0,0,0, 0.85);
}

.grtyoutube-dark-theme .grtyoutube-popup-content {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
}

.grtyoutube-dark-theme .grtyoutube-popup-close {
	background: url('icon-close-white.png') no-repeat;
}

.grtyoutube-light-theme {
	background: rgba(255,255,255, 0.85);
}

.grtyoutube-light-theme .grtyoutube-popup-content {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}

.grtyoutube-light-theme .grtyoutube-popup-close {
	background: url('icon-close-black.png') no-repeat;
}

/*About US*/

.about-us{
	margin-top: 40px;
	margin-bottom: 40px;
}

.about-us h2{
	font-family: Roboto-Regular;
	font-size: 42px;
	padding-bottom: 20px;
}

.about-us h6{
	font-family: Roboto-Bold;
	font-size: 22px;
	line-height: 32px;
	padding-bottom: 20px;
}

.about-us p{
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 20px;
	color: #6f6f6f;
}

blockquote {
    font-size: 14px;
    line-height: 24px;
    padding: 21px 32px;
    border-left: 6px solid #e6be1e;
    color: #6f6f6f;
    background-color: #ffffff;
}






