@media only screen and (max-width: 600px) {

	.offset-2 {
    margin-left:12px;
  }
	
	.offset-1{margin-left: 0px;}

	.olympiad-card p{
	padding-top: 10px;
    padding-bottom: 10px;
	}
	
	.about-footer button{
		margin-bottom:20px;
	}
	
/*
	.learning-features{
		border: 30px solid #fbfbfb;
		box-shadow: inset 2px 1px 20px 2px #ebebeb;
	}
*/
	
	.category-box{
		padding: 0;
	}
	
	.scroll-up{
/*		margin: 0 40px 340px 0;*/
	}
	
	.about-footer{
		width: auto;
		padding: 0px 30px 0px;
	}
	
	.olympiad-card{
		padding-bottom: 0px;
	}
	
	.welcome-card{
		padding: 50px 0 35px 0;
	}
	
	.main_menu .navbar-light .navbar-toggler {
    border: 0px solid transparent;
	}
	
	.main_menu .header_social_icon {
    position: absolute;
    right: 10px;
    top: 30px;
	}
	
	.sub_header #logo {
    text-align: center;
	}
	
	.sub_header .sub_header_social_icon {
    float: none !important;
    text-align: center;
	}
	
	.sub_header .sub_header_social_icon a {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    text-align: left !important;
	}
	
	.welcome-content{
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 20px;
	}

	
}

@media (min-width: 400px){
.get-touch .newsletter .click-btn {
    left: -50px;
	}
}

