@media only screen and (min-width: 1200px) {
  .nav-coupon-category li a {
    line-height: 46px;
    height: 46px;
  }
	
	
}

@media (max-width: 991px) {
  .deals-header-area .deal-thumbnail {
    height: 350px;
  }
	.header-blue .hero h1{
    margin-top:0;
    margin-bottom:15px;
    line-height:1.4;
  }
	
	.myaccount-tabs{
	margin-bottom: 20px;
    padding-right: 15px;
}
	
}

@media only screen and (max-width: 959px) {
	.nav-menu-fixed{
		z-index: 999;
	}
  .nav-menu {
    background-color: #ffffff;
  }
  .nav-menu li > a,
  .nav-menu li.active a {
    color: #314555;
    background-color: #ffffff;
  }
  .user-profile li > a,
  .user-profile li.active a{
	color: #ffffff;
    background-color: #314555;
	}	

  .nav-header {
    display: block;
  }
  .nav-collapse {
    display: none;
    padding-bottom: 10px;
  }
  .nav-menu > li a .indicator {
    position: absolute;
    top: 0;
  }
  .nav-menu .mega-menu,
  .nav-menu > li > ul,
  .nav-menu > li > ul > li ul {
    width: 100%;
    position: static;
  }
  .nav-menu .mega-menu {
    padding: 0 20px;
  }
  .nav-menu li {
    width: 100%;
    float: none;
    border-bottom: 1px solid #eee;
  }
  .nav-menu li:last-child {
    border-bottom: 0;
  }
  .nav-menu > li > a {
    height: 40px;
    line-height: 40px;
  }
  .nav-menu > li ul li a {
    height: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 700px){
 .box{
 width: 70%;
 }
 .popup{
 width: 70%;
 }
	.table-scroll-r{
		overflow: auto;
	}
	
}


@media only screen and (min-width: 768px) {
  .coupons-area-list .showcode {
    width: 50%;
    float: right;
  }
	
}

@media (max-width: 767px) {
  .deals-header-area .deal-thumbnail {
    height: 250px;
  }
	.header-blue .navbar{
    padding-top:0;
    padding-bottom:0;
  }
	
	.header-blue .navbar .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
  }
	
	.header-search, .top-header{
		flex-direction: column;
		width: 100%;
	}
	
	.navbar-right-d-none{
		display: none;
	}
	
	
	.srch-full-width{
		width: 100%;
	}
	
	.login-btn-mob{
	display: block !important;
	}
	
	.home-right-bnr{
		display: none;
	}
	
	.header-blue .navbar .navbar-nav .open .dropdown-menu{
    box-shadow:none;
    background:none;
    color:#fff;
  }
	
	.header-blue .navbar .navbar-nav .open .dropdown-menu > li > a{
    color:#fdfeff;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
	
	.header-blue .navbar .navbar-form .search-field{
    display:inline-block;
    width:80%;
  }
	
	.header-blue .hero{
    margin-top:20px;
    text-align:center;
  }
	
	.nav-menu1 {
    margin-left: 0px;
  }
	.search-m {
		margin-left: -13px;
	}
	.header-menu {
    margin-top: 133px;
}
	.loader-rotate{
		transform: rotate(90deg);
	}
	
	.top-header .col-md-3{
		text-align: center;
		margin-top: 10px;
	}
	
	
}

@media only screen and (max-width: 420px) {
	.sharebtn-store a{
		padding: 10px 12px;
	}
	.label-discount{
		position: relative !important;
	}
	.copy-btn{
		border-radius: 0px;
		float: none;
		margin-top: 10px;
	}
	.btn-responsive{
		margin-top: 7px;
	}
	
	
}