@charset "utf-8";


/*deals and coupons*/

.dealbox{
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
}

.deal-store{
	border-radius: 4px;
	border: 1px solid #eaeaea;
	max-width: 100px;
	margin-bottom: 8px;
}

.deal-store img{
	width: 50% !important;
	margin: 0 auto;
}

.store-deal{
	border: 1px solid #eaeaea;
	width: 116px;
	height: 138px;
	margin: 0 auto;
	overflow: hidden;
}

.dealbox h6{
	font-weight: bold;
	color: #292929;
	margin: 10px 0;
}

.price-tag{
	color: #848484;
	font-size: 14px;
}

.price-label{
	color: #292929;
	font-size: 20px;
	font-weight: bold;
	line-height: 10px;
}

.price-save{
	color: #e6561c;
	font-size: 20px;
	font-weight: bold;
	line-height: 10px;
	float: right;
}

.price-save strong{
	font-size: 12px;
}

.coupon-btn-customize{
		border-radius: 0px;
	}

.deal-btn{
	background-color: #e6561c;
	color: #ffffff;
	padding: 8px 30px;
	margin-top: 10px;	
}
.deal-btn:hover{
	color: #ffffff;
}
.deal-btn:focus{
	color: #ffffff;
}

.row1{
	margin-left: -15px;
}

.row2{
	margin-right: -15px;
	float: right;
}

.share-btn{
	border-radius: 50px;
    color: #314555;
    padding: 6px 11px;
    /* box-shadow: 0px 0px 8px 3px #d4d4d4; */
    border: 3px solid #314555;
}
.share-btn:hover{
/*	background-color: #e6561c;*/
	color: #314555;
}

.invite-bnr-area{
	background-color: #ffffff;
}

.invite-bnr-area img{
	width: 100%;
}

.invite-bnr-area .row .col-md-6{
	padding: 0;
}
.invite-bnr-area .row .col-md-6:nth-child(2){
	padding: 15px;
}


.share-btn-dropdown{
	position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.5);
    box-shadow: 0 0 2px rgba(0,0,0,.5);
	right: 50px;
    bottom: 0;
    display: none;
    flex-direction: column;
	z-index: 1;
}

.dealbox-footer{
	align-items: center;
    display: flex;
}

.store-box{
	background-color: #ffffff;
	width: 100%;
}

.store-para{
	padding: 5px 10px;
    border-top: 1px solid #f1f1f1;
    background-color: #f7f8f9;
    font-size: 12px;
    font-weight: bold;
	color: #314555;
}

.store-para:hover{
	color: #314555;
}

.goto-store{
	background-color: #e6561c;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 5px 5px;
    font-weight: bold;
}

.goto-store a{
	background-color: #e6561c;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 5px 5px;
    font-weight: bold;
}

.sharebtn-store{
	color: #e6561c;
    padding: 20px 0;
	text-align: center;
}

.referring{
	display: flex;
	align-items: center;
	border: 2px dashed #e5e5e5;
    padding: 10px;
	margin-top: 25px;
}
.referring a{
	overflow: visible;
}
.referring h4{
	font-weight: bold;
	font-size: 16px;
}
.referring h4 span{
	font-weight: bold;
	font-size: 24px;
	color: #e6561c;
}
.subscribe-newsletter{
	margin: 20px 0;
}
.subscribe-newsletter h4{
	font-weight: bold;
	font-size: 16px;
}
.subscribe-newsletter form{
	margin-top: 10px;
}

.sharebtn-store a{
	color: #314555;
    padding: 10px 25px;
	border: 2px solid #314555;
	font-weight: bold;
}

.sharebtn-store:hover{
	color: #e6561c;
}

.home-right-bnr{
	min-height: 100%;
}

.home-right-bnr img{
	height: 100%;
}

.bnr-outer{
	padding-left: 0px;
}


.share-btn-dropdown a i{
	font-size: 20px;
	padding: 10px;
}

.share-btn-dropdown .color-fb{
	color: #3b5998;
}

.share-btn-dropdown .color-whatsapp{
	color: #128C7E;
}

.share-btn-dropdown .color-twitter{
	color: #00acee;
}

.share-btn-dropdown .color-instagram{
	color: #3f729b ;
}

.navbar-right{
	text-align: center;
}

.top-header{
	display: flex;
	align-items: center;
}



/*
.share-btn.need-share-button .need-share-button_button{
	

	display: none;
}
*/

.top-header-fix{
	position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
	border-bottom: 1px solid #b2b2b2;
	
}

.top-header-animate .header-search{
	padding: 2px 0;
}

.header-search{
	display: flex;
	align-items: center;
	flex: 1;
	padding: 10px 0;
	-webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-menu{
	margin-top: 66px;
}


.home-right-bnr{
  display: flex;
  flex: 1;
  max-width: 100%;
  justify-content: center;
}

.deal-title a{
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
/*  height: 45px;*/
}


.latest-coupons-slider .item .coupon-item{
  margin-bottom: 10px;
	padding: 0 5px 0 5px;
}
.lnr {
  font-weight: bold;
}
.block-quote {
  position: relative;
  font-size: 15px;
  background-color: #e6fff1;
  border-left-color:  #e6561c;
  margin: 20px 0 30px 20px;
  padding: 30px 30px 40px 30px;
}
.block-quote:after {
  font-size: 20px;
  bottom: 10px;
  color:  #e6561c;
  content: "\f10e";
  font-family: fontawesome;
  position: absolute;
  right: 30px;
}
/* List Styles */
.list-styled {
  list-style-type: disc;
  padding-left: 20px;
  list-style-position: inside;
}
/* Custom Checkbox / Radio */
.custom-checkbox,
.custom-radio {
  position: relative;
  padding-left: 24px;
}
.custom-checkbox a{
	color:  #e6561c;
}
.color-mid a{
	color:  #e6561c;
}
.custom-checkbox input[type="checkbox"],
.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.custom-checkbox label,
.custom-radio label {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-checkbox label::after,
.custom-radio label::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  margin-left: -24px;
  background-color: white;
  border: 2px solid #d4d4d4;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}
.custom-radio label::after {
  border-radius: 999px;
}
.custom-checkbox label::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 8px;
  top: 6px;
  left: 0px;
  margin-left: -18px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  background: transparent;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.custom-radio label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  margin-left: -24px;
  border-radius: 999px;
  opacity: 0;
  z-index: 1;
  border: 4px solid #fff;
}
.custom-checkbox input[type="checkbox"]:checked + label::after,
.custom-radio input[type="radio"]:checked + label::after {
  border-color:  #e6561c;
  background-color:  #e6561c;
}
.custom-checkbox input[type="checkbox"]:checked + label::before,
.custom-radio input[type="radio"]:checked + label::before {
  opacity: 1;
}
/* Fix Bootstrap Media */
.media-object {
  max-width: none;
}
/* Styled Title */

.h-title{
 	border-bottom: 1px solid #ededed;
	font-size: 14px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
    box-shadow: none;
    color: #e6561c;
	border-bottom: 2px solid #e6561c;
}

.sub-cat{
	display: flex; 
	align-items: center; 
	border: 1px dashed #EEEEEE; 
	padding: 10px; 
	margin: 5px 5px 0 0; 
	border-radius: 4px;
}

.sub-cat-img{
	border: 1px solid rgba(0,0,0,0.08);
    background-color: #fff; 
	line-height: 33px;
    text-align: center;
    border-radius: 4px; 
	width: 50% !important;
}

.sub-cat-img img{
	width: 80px;
    padding: 10px;
}

.sub-cat-box{
	padding-left: 16px;
}

.dnc-cashback{
	color: #e6561c !important;
    font-weight: bold;
}

.dnc-offers{
	color: rgba(0,0,0,0.54);
}
.error-page-wrapper{
	margin: 20px 0;
}


/*
.h-title:before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #f1f1f1;
}
.h-title:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 2px;
  background:  #e6561c;
}
*/
/* Alert Error */
.alert-error {
  background-color: #ea4335;
  color: #fff;
  padding: 20px;
}
/* Rating Stars */
.rating {
  color: #ff3100;
}
.rating .rating-stars {
  unicode-bidi: bidi-override;
  direction: rtl;
  white-space: nowrap;
  display: inline-table;
}
.rating .rating-stars.rate-allow {
  cursor: pointer;
}
.rating .fa {
  display: table-cell;
  font-size: 16px;
  padding: 2px;
}
.rating .rate-allow .fa:hover:before,
.rating .rate-allow .fa:hover ~ .fa:before,
.rating .rating-stars .fa.star-active:before,
.rating .rating-stars .fa.star-active ~ .fa:before {
  content: "\f005";
}
.rating .rating-reviews {
  color: #717f86;
  margin-left: 6px;
}
/* Social Icons */
.social-icons__item .fa {
  font-size: 15px;
  margin: 0;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 3px;
  color: #F5F5F5;
  background-color: rgba(49, 69, 85, 0.25);
}
.social-icons__item .fa:hover {
  background-color: rgba(49, 69, 85, 0.4);
}
.social-icons--colored .social-icons__item i.fa-facebook {
  background-color: #3b5998;
}
.social-icons--colored .social-icons__item i.fa-facebook:hover {
  background-color: #344e86;
}
.social-icons--colored .social-icons__item i.fa-twitter {
  background-color: #1da1f2;
}
.social-icons--colored .social-icons__item i.fa-twitter:hover {
  background-color: #0d95e8;
}
.social-icons--colored .social-icons__item i.fa-google-plus {
  background-color: #dd4b39;
}
.social-icons--colored .social-icons__item i.fa-google-plus:hover {
  background-color: #d73925;
}
.social-icons--colored .social-icons__item i.fa-linkedin {
  background-color: #0077b5;
}
.social-icons--colored .social-icons__item i.fa-linkedin:hover {
  background-color: #00669c;
}
.social-icons--colored .social-icons__item i.fa-pinterest {
  background-color: #cc2222;
}
.social-icons--colored .social-icons__item i.fa-pinterest:hover {
  background-color: #b61e1e;
}
.label {
  font-size: 11px;
  font-weight: normal;
  padding: 5px 10px;
}
.label-success {
  background-color:  #e6561c;
}
.panel {
  border-radius: 0px !important;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.deals-header{
	background-color: #314555;
	color: #ffffff;
	padding: 5px 20px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.body-area{
	margin: 20px 0;
}

.deals-header h3{
	font-weight: bold;
	flex: 1;
}

.all-deal-btn{
	color: #ffffff;
	font-weight: bold;
}

.all-deal-btn:hover{
	color: #ffffff;
	font-weight: bold;
}
.all-deal-btn:focus{
	color: #ffffff;
	font-weight: bold;
}

.all-deal-btn i{
	background-color: #1c2228;
	border-radius: 50px;
	padding: 5px;
}

.download-csv{
	float: right;
}

.download-csv a {
	text-decoration: underline;
	color: #e6561c;
}

.myaccount-tabs{
    padding-right: 0px;
}
.status-confirm{
	color: #2ba828;
}
.status-pending{
	color: #6c757d;
}
.status-reject{
	color: #dc3545;
}
.status-paid{
	color: #007bff;
}
.referral-table{
	padding: 0 !important;
	border: none;
}

.referral-table table{
	background-color: #f6f6f6 !important; 
	display: table-cell;
}

.referral-calc{
	padding: 30px; 
	background: #fff5f1;
}
.step2-para{
	color: #fff;
    font-size: 15px;
    font-weight: bold;
    background-color: #e6561c;
    padding: 10px;
	text-align: center;
}




/*
.owl-dots{
	display: none !important;
}
*/

.label-discount {
  color: #111111;
  font-size: 24px;
  line-height: 36px;
  padding: 15px 20px;
	width: 134px;
	height: 102px;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 8px;
  border: 1px dashed #C3C3C3;
}
/* Pagination */
.page-pagination {
  font-size: 13px;
  margin: 20px auto;
  text-align: center;
}
.page-pagination li {
  display: inline;
}
.page-pagination a.page-numbers,
.page-pagination .page-numbers.current {
  display: inline-block;
  margin: 0 2px;
  padding: 0 13px;
  line-height: 32px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.page-pagination a.page-numbers {
  border-color: #d3d9dd;
  color: #576366;
}
.page-pagination .page-numbers.current,
.page-pagination a.page-numbers:hover {
  border-color:  #e6561c;
  background-color:  #e6561c;
  color: #fff;
}
/* Flex Slider */
.flexslider {
  margin: 0;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.flexslider.flexslider-nav {
  -webkit-box-shadow: 0px -5px 8px 0px rgba(0,0,0,.3);
  box-shadow: 0px -3px 8px 0px rgba(0,0,0,.3);
}
.flex-control-thumbs {
  margin: 0;
}
.flex-direction-nav a:before {
  font-size: 25px;
}
/* Page Control */
.page-control {
  overflow: visible;
}
.page-control .dropdown .btn {
  background-color: transparent;
  color: #999;
  padding: 0;
  height: auto;
}
.page-control .list-control-view .fa {
  font-size: 18px;
  padding-top: 6px;
  color: #555;
}
.page-control select.input-sm {
  padding: 0 30px 0 10px;
}
.page-control .dropdown-menu {
  top: 130%;
  left: -6px;
  border-radius: 0;
  border-color: #eee;
}
.page-control .dropdown-menu > li > a {
  padding: 5px 20px;
}
/* Js Tabs */
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs > li {
  margin-bottom: 0;
}

.nav-tabs > li > a {
  padding: 15px 20px;
  border: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: transparent;
}

/* Flag Icons*/
[class*="fa-flag"] {
  width: 16px;
  height: 11px;
  background-image: url("../images/icons/flags.png");
}
.fa-flag-en {
  background-position: 0 0;
}
.fa-flag-ar {
  background-position: 0 11px;
}

/* Owl Carousel */
.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-theme .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  font-size: 20px;
  margin: 0;
  padding: 4px 8px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(0, 0, 0, 0.7);
}
.owl-carousel .owl-nav .owl-prev {
  left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––>>> Preloader  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.loader-cube {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -30px;
  margin-left: -30px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.loader-cube .loader-cube__item {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.loader-cube .loader-cube__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  #e6561c;
  -webkit-animation: loaderAnim 2.4s infinite linear both;
  animation: loaderAnim 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.loader-cube .loader-cube__item2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.loader-cube .loader-cube__item3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.loader-cube .loader-cube__item4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.loader-cube .loader-cube__item2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader-cube .loader-cube__item3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loader-cube .loader-cube__item4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes loaderAnim {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes loaderAnim {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––>>> Header  <<<–––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* |–––––––––––––––––[ Top bar ]–––––––––––––––| */
.nav-top ul {
  padding: 8px;
  opacity: 0;
  display: none;
  visibility: hidden;
  position: absolute;
  top: 150%;
  left: 0;
  text-align: left;
  background: #fff;
  border: 1px solid #eee;
  min-width: 200px;
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 2, 0.1);
  box-shadow: 1px 0 2px rgba(0, 0, 2, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -9;
}
.nav-top > li {
  position: relative;
}
.nav-top-left > li + li {
  padding-left: 12px;
}
.nav-top-right > li + li {
  padding-right: 12px;
}
.nav-top > li:hover ul {
  display: block;
  visibility: visible;
  z-index: 9;
  opacity: 1;
  top: 100%;
}
.nav-top a {
  display: block;
  font-size: 12px;
  line-height: 22px;
  color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-top a:hover {
  color: #000;
}
.nav-top > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
}
.nav-top > li:hover > a {
  color: #000;
}
.nav-top ul a {
  padding: 5px 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-top ul a:hover {
  background-color: #f1f1f1;
}
.nav-top .fa {
  margin-right: 6px;
  font-size: 14px;
  color:  #e6561c;
}

/* |–––––––––––––––––[ Header Header ]–––––––––––––––| */
.header-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-search .search-input {
  border-right: 1px solid #ddd;
}
.header-search .search-select {
  width: 180px !important;
  border-left: 0;
  border-radius: 0;
}
.header-search .btn-lg {
  padding-left: 20px;
  padding-right: 20px;
}
.header-search .form-control {
  font-size: 12px;
}
.header-search .form-control:focus {
  border-color: #ddd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
}
.header-cart,
.header-wishlist {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  vertical-align: top;
  text-align: left;
}
.header-cart .icon,
.header-wishlist .icon {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 34px;
  font-weight: normal;
}
.header-cart .title,
.header-wishlist .title {
  display: inline-block;
  width: 35px;
  line-height: 1.6;
}
.header-cart .cart-number,
.header-wishlist .cart-number {
  display: inline-block;
  font-size: 12px;
  height: 16px;
  padding: 0 8px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background-color: #ff6666;
  border-radius: 16px;
}

.table input{
	width: 80%;
	font-size: 10px;
}




/* |–––––––––––––––––[ Header Menu ]–––––––––––––––| */
.nav-menu > li > a,
.nav-menu-fixed > a {
  color: #fff;
}
.nav-menu-fixed > a {
  font-size: 14px;
}
.nav-menu > li > ul a {
  color: #314555;
}
/*
.nav-menu-fixed > a,
.nav-menu > li:hover > a,
.nav-menu > li.active > a {
  background-color:  #e6561c;
}
*/
.nav-menu > li > ul a {
  color: #314555;
  background-color: #fff;
}
.nav-menu > li > ul li:hover > a,
.nav-menu > li > ul li.active > a {
  color:  #e6561c;
  background-color: #f1f1f1;
}
.nav-bar {
  position: relative;
}
.nav-header {
  position: relative;
  display: none;
}
.nav-menu > li a .indicator {
  margin-left: 10px;
}
.nav-menu > li > ul li a .indicator {
  position: absolute;
  top: 0;
  right: 15px;
}
.nav-toggle {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 40px;
  padding: 10px 4px;
  left: 0;
}
.nav-toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.nav-toggle i + i {
  margin-top: 7px;
}
.nav-menu {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  position: relative;
}
.nav-menu:before,
.nav-menu:after {
  content: "";
  display: table;
}
.nav-menu:after {
  clear: both;
}
.nav-menu.nav-menu-fixed {
  position: absolute;
  top: 0;
  right: 0;
}
.nav-menu.nav-menu-fixed a {
/*  display: inline-block;*/
}
.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-menu > li > ul,
.nav-menu > li > ul > li ul,
.nav-menu .mega-menu {
  background: #fff;
  margin: 0;
  display: none;
  min-width: 180px;
  position: absolute;
  z-index: 99;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.nav-menu > li > ul {
  top: 100%;
  left: 0;
}
.nav-menu > li:last-child > ul {
  right: 0;
}
.nav-menu > li > ul > li ul {
  top: 0;
  left: 100%;
}
.nav-menu > li:last-child > ul > li ul {
  right: 100%;
}
.nav-menu .mega-menu {
  width: 100%;
  top: 100%;
  left: 0;
  padding: 15px 20px;
}
.nav-menu ul li {
/*
  display: block;
  position: relative;
*/
  border-bottom: 1px solid #eee;
}

.nav-menu li:last-child {
  border-bottom: none;
}



.nav-menu .dropdown-mega-menu {
  position: static;
}
.nav-menu > li {
  float: left;
}
.nav-menu a {
  text-decoration: none;
  display: block;
  padding: 0 20px;
  margin: 0;
  position: relative;
}
.nav-menu .mega-menu a {
  padding: 0;
}
.nav-menu > li > a,
.nav-menu > a {
  line-height: 60px;
}
.nav-menu > li ul li a {
  height: 40px;
  line-height: 40px;
}
.nav-menu .mega-menu li a {
  height: 35px;
  line-height: 35px;
}
.nav-menu .mega-menu .mega-title {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 14px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––>>> Footer  <<<–––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.footer-top-area{
	background-color: #314555;
	padding: 20px 0;
}
.footer-about h4{
	color: #eee;
	font-weight: bold;
}
.footer-about p{
	color: #eee;
	line-height: 15px;
	font-size: 13px;
	padding-top: 10px;
	font-weight: normal;
}
.footer-links h4{
	color: #eee;
	font-weight: bold;
}
.footer-links ul{
	padding-top: 10px;
}
.footer-links ul li a{
	color: #eee;
	line-height: 15px;
	font-size: 13px;
	padding-top: 10px;
	font-weight: normal;
}


.main-footer {
  background: #1e2b35;
	display: flex;
}
.main-footer p {
  font-size: 15px;
  color: #647d89;
  padding: 20px 0;
}
.main-footer p a{
  color: #ffeb00;
}
.social-icons{
 	text-align: center;
	padding-top: 20px;
}
.social-icons a img {
	padding: 0 5px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––>>> Back to Top  <<<–––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––[ Back Top Styles ]––––––––––––– */
.back-top {
  z-index: 9999;
  position: fixed;
  left: 30px;
  bottom: -10px;
  opacity: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}
.back-top:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.back-top.show {
  opacity: 1;
  bottom: 30px;
}



.nav-coupon-category li a {
  display: block;
  position: relative;
  text-transform: uppercase;
  line-height: 43px;
  height: 43px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #717f86;
  padding-left: 5px;
  font-size: 12px;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.nav-coupon-category .all-cat a {
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
}
.nav-coupon-category li a .fa {
  font-size: 15px;
  width: 40px;
  margin-right: 20px;
  color:  #e6561c;
  border-right: 1px solid #ddd;
  text-align: center;
}
.nav-coupon-category li a > span {
  margin-left: 8px;
  color: #bfbfbf;
  padding: 1px 7px;
  border-radius: 2px;
  font-size: 11px;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.nav-coupon-category li a:hover {
  padding-left: 12px;
}
.nav-coupon-category li a:hover > span {
  margin-left: 10px;
  color: #fff;
  background-color:  #e6561c;
}
.nav-coupon-category li + li {
  border-top: 1px solid #eee;
}
.nav-coupon-category .active{
	background-color: #e6561c;
}

.nav-coupon-category .active a{
	color: #ffffff;
}

.nav-coupon-category .active i{
	color: #ffffff !important;
}

.table-scroll{
	overflow: auto;
}


.price {
  color:  #e6561c;
  margin-bottom: 0;
}
.price-sale {
  color: #d84523;
  font-size: 85%;
  text-decoration: line-through;
  margin-right: 1em;
}
.deal-thumbnail:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…B3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);
  background-size: 100%;
}
.deals-header-area .deal-single {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.deals-header-area .deal-thumbnail {
  padding-top: 40%;
  font-family: 'monL', sans-serif;
  font-weight: 100;
}


.deal-single .time-left {
  font-size: 13px;
  position: absolute;
  color: #fff;
  z-index: 10;
}
.deal-single .deal-store-logo {
  z-index: 10;
  width: 50px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.deal-single .deal-store-logo img {
  border-radius: 3px;
}
.deal-actions {
  position: absolute;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.deal-actions li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #fff;
  cursor: pointer;
}
.deal-actions li > span {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-align: center;
}
.deal-actions li .share-tooltip {
  position: absolute;
  right: -48px;
  top: 35px;
  background-color:  #e6561c;
  white-space: nowrap;
  display: block;
  padding: 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.deal-actions li .share-tooltip:after {
  border: solid transparent;
  content: ' ';
  height: 0;
  position: absolute;
  right: 39%;
  top: -13px;
  left: inherit;
  z-index: 2;
  width: 0;
  border-width: 7px;
  border-bottom-color:  #e6561c;
}
.deal-actions li .share-tooltip a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  padding: 0 6px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.deal-actions li.like-deal.favorite .fa-heart {
  color: red;
}
.deal-single .label {
  text-transform: uppercase;
}
.deal-single .label-featured {
  position: absolute;
  z-index: 2;
}
.deal-single .panel-body {
  position: relative;
}
.deal-single p {
  font-size: 13px;
  margin-bottom: 10px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Stores Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.stores-area-v1 .store-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:90%;
}
.store-logo{width:90% !important; margin: 0 auto;}
.stores-area-v1 .store-name {
  padding: 6px 0;
  border-top: 1px solid #f1f1f1;
  background-color: #f7f8f9;
}
.stores-area-v2 .letters-toolbar span a {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.stores-area-v2 .letters-toolbar span + span a {
  border-left: 1px solid #eee;
}
.stores-area-v2 .letters-toolbar .all-stores a {
  width: auto;
  padding: 0 12px;
}
.stores-area-v2 .stores-cat {
  display: inline-block;
  width: 100%;
}
.stores-area-v2 .stores-cat .stores-cat-header {
  color:  #e6561c;
  padding: 0 30px;
  line-height: 48px;
  margin: 0px;
  display: inline-block;
  width: 100%;
  background-color: #f7f8f9;
}
.stores-area-v2 .stores-cat .stores-cat-body {
  padding: 30px;
}
.stores-area-v2 .stores-cat li a {
  line-height: 36px;
  color: #777;
  display: inline-block;
  width: 100%;
}
.stores-area-v2 .stores-cat li a:hover {
  color: #333;
}
.stores-area-v2 .stores-cat ul li ul {
  padding: 0px;
  border-right: 1px dashed #cccccc;
}
.stores-area-v2 .stores-cat ul li:last-child ul {
  border-right: none;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––>>> Store Page  <<<–––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.store-page .store-splitter-left {
  border-left: 1px dashed #ddd;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Posted Review  <<<––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.review-wrapper {
  border: 2px solid #e5ecf4;
  background-color: #fbfbfb;
  border-radius: 4px;
  padding: 10px 20px;
  position: relative;
  overflow: visible;
}
.review-wrapper:before,
.review-wrapper:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  z-index: 10;
}
.review-date {
  font-size: 13px;
  color: #9e9e9e;
  margin-top: 5px;
}
.review-avatar img {
  width: 80px;
  border-radius: 4px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Deals Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.deals-area header.panel {
  overflow: visible;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Coupons Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.coupon-single {
  position: relative;
}
.showcode {
  position: relative;
  z-index: 1;
}
.coupon-hide {
  display: block;
  width: 100%;
  height: 34px;
  line-height: 34px;
/*  padding: 0 15px;*/
  font-size: 15px;
  color: #F50;
  border-radius: 3px;
  text-align: right;
  text-transform: uppercase;
/*  letter-spacing: 1px;*/
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #eee 10px, #eee 20px), linear-gradient(to bottom, #c2ead4, #c2ead4);
}
.show-code {
  position: absolute;
  top: 0;
  left: 0;
}
.showcode:hover .show-code {
  width: 80%;
}
.coupon-showen .coupon-hide {
  text-align: center;
  border: 2px dashed  #e6561c;
  line-height: 28px;
}
.coupon-showen .show-code {
  display: none;
}

.coupon-single .ribbon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 80px;
  height: 85px;
}
.ribbon {
  font-size: 10px;
  position: relative;
  top: 17px;
  left: -8px;
  width: 120px;
  padding: 1px;
  color: #fff;
  text-align: center;
  background-color: #ff3100;
  text-transform: uppercase;
  z-index: 2;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Subscribe Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.newsletter-form {
  max-width: 480px;
  margin: 25px auto 0;
}
.newsletter-form .form-control {
  border-color:  #e6561c;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Get Coupon Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.get-coupon-area {
  text-align: center;
}
.get-coupon-area .coupon-code {
  display: inline-block;
  font-size: 21px;
  position: relative;
  margin: 20px auto;
  padding: 5px 30px;
  text-align: center;
  border: 2px dashed azure;
  background-color: #d9edf7;
  color: #F50;
}
.get-coupon-area .about-coupon p {
  margin-bottom: 15px;
}
.get-coupon-area .like-report {
  color: #7b8b8e;
}
.get-coupon-area .like-report .link-vote {
  font-size: 16px;
  padding: 5px 8px;
}
.get-coupon-area .like-report .link-vote.like {
  color: #649127;
}
.get-coupon-area .like-report .link-vote.dislike {
  color: #d70954;
}
.get-coupon-area .modal-footer {
  background-color: #f5fdf9;
}
.get-coupon-area .social-icons .fa {
  height: 28px;
  width: 28px;
  line-height: 28px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––>>> Sign In / Up Area  <<<–––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.sign-area .sign-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.sign-title a{
	color: #e6561c;
}
.forgot-pass{
	color: #e6561c;
}
.sign-area .col-left {
  border-right: 1px solid #eee;
}
.sign-area label {
  font-weight: normal;
}
.sign-area .or {
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  margin-right: -20px;
  margin-top: -20px;
  color: #97a4ad;
  text-transform: uppercase;
}
.btn-social {
  text-transform: capitalize;
  position: relative;
  letter-spacing: 0.5px;
  border: 0;
}
.btn-social .fa {
  font-size: 20px;
  position: absolute;
  top: 13px;
  left: 18px;
}
.btn-facebook {
  background-color: #3b5999;
}
.btn-facebook:hover,
.btn-facebook:focus {
  background-color: #344e87;
}
.btn-twitter {
  background-color: #00aced;
}
.btn-twitter:hover,
.btn-twitter:focus {
  background-color: #0099d4;
}
.btn-google-plus {
  background-color: #dd4b39;
}
.btn-google-plus:hover,
.btn-google-plus:focus {
  background-color: #d73925;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––>>> Contact Area  <<<––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.contact-area .contact-list {
  padding-top: 20px;
}
.contact-area .contact-list li {
  margin-bottom: 40px;
}
.contact-area .contact-list li h5 {
  margin-bottom: 6px;
	font-weight: bold;
}
.contact-area .contact-list li .icon {
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 42px;
  color: white;
  background-color:  #e6561c;
  border-radius: 3px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0 2px  #e6561c;
  box-shadow: 0 0 0 2px  #e6561c;
}

.contact-area .google-map-iframe {
  pointer-events: none;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Error Page Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.error-page-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 250px;
  line-height: 1;
}
.error-page-header span {
  margin: -20px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––>>> Faq Area  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */

.faq-bnr{
	text-align: center;
	margin-bottom: 20px;
}

.faq-bnr img{
	width: 80%;
}

.faq-area .panel-default > .panel-heading {
  border: 0;
  padding: 0;
  position: relative;
}
.faq-area .panel-title {
  font-size: 15px;
}
.faq-area .panel-title > a {
  display: block;
  padding: 15px;
  background-color:  #e6561c;
  color: #fff;
  -webkit-transition: all 0s linear;
  -ms-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
}
.faq-area .panel-title > a.collapsed {
  background-color: #f9f9f9;
  color: #222;
}
.faq-area .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 0;
}
.faq-area .panel-title a:before {
  font-family: 'FontAwesome';
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 999px;
  position: absolute;
  right: 10px;
  top: 13px;
  font-size: 13px;
  display: inline-block;
  text-align: center;
}
.faq-area .panel-title .collapsed:before {
  content: "\f067";
  color: #222;
}
.faq-area .panel-title a:before {
  content: "\f068";
  color: #fff;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––––>>> Cart  <<<––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.cart-list {
  width: 100%;
}
.cart-list thead {
  border-bottom: 15px solid #e9ebee;
}
.cart-list thead th {
  padding: 15px;
}
.cart-list thead th:nth-child(1) {
  width: 50%;
}
.cart-list thead th:nth-child(2),
.cart-list thead th:nth-child(3),
.cart-list thead th:nth-child(4) {
  width: 15%;
}
.cart-list thead th:nth-child(5) {
  width: 5%;
}
.cart-list tbody tr {
  border-bottom: 10px solid #e9ebee;
}
.cart-list tbody tr:last-child {
  border-bottom: 0;
}
.cart-list tbody tr td {
  padding: 15px;
  vertical-align: middle;
  color: #555;
}
.cart-list .product-thumb {
  width: 120px;
  margin-right: 10px;
}
.cart-list .media-body .type span {
  color: #222;
}
.cart-list .quantity-label {
  width: 45px;
  border: 0;
  background: transparent;
  outline: none !important;
}
.cart-list .sub-total {
  color:  #e6561c;
}
.cart-list i.fa-trash-o {
  font-size: 18px;
  color: #F00;
}
.cart-list tbody tr td .close {
  float: left;
  opacity: 1;
}
.cart-price ul {
  padding: 15px 30px;
}
.cart-price ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
}
.cart-price ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.cart-price ul li .item-name {
  float: left;
  color: #8b8b8b;
}
.cart-price ul li .price {
  text-align: right;
  color: #999;
}
.cart-price ul li .item-name strong {
  color: #222222;
  font-size: 14px;
}
.cart-price ul li .price span {
  color:  #e6561c;
  font-size: 15px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––>>> Wishlist  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.wishlist {
  width: 100%;
}
.wishlist tbody tr {
  border-bottom: 20px solid #e9ebee;
}
.wishlist tbody tr:last-child {
  border-bottom: 0;
}
.wishlist tbody tr td {
  padding: 15px;
  vertical-align: middle;
  color: #555;
}
.wishlist .product-thumb {
  width: 120px;
  margin-right: 10px;
}
.wishlist .media-body .type span {
  color: #222;
}
.wishlist tbody tr td .close {
  opacity: 1;
}
.wishlist i.fa-trash-o {
  font-size: 18px;
  color: #F00;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––>>> Blog Area  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.post-thumbnail {
  position: relative;
}
.post-thumbnail:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.entry {
  position: relative;
}
.entry .entry-date {
  top: 15px;
  left: 15px;
  position: absolute;
  z-index: 10;
  width: 60px;
}
.entry .entry-date > h4,
.entry .entry-date > h6 {
  color: #fcfcfc;
  font-size: 22px;
  background:  #e6561c;
  text-align: center;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
}
.entry .entry-date > h6 {
  font-size: 14px;
  background: #314555;
  border-radius: 0 0 3px 3px;
}
.entry-meta .icon {
  font-size: 14px;
  margin-right: 8px;
}
.entry-meta,
.entry-meta a {
  color: #b2bac2;
}
.entry-meta a:hover {
  color:  #e6561c;
}
.entry .soundcloud-embed iframe {
  width: 100%;
}
/* Latest News Area */
.latest-news-area.blog-grid .entry .entry-content {
  height: 5.6em;
}
/* Blog Grid */
.blog-grid .entry .entry-content {
  height: 7.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Blog Single Post */
.blog-quote-section {
  font-size: 16px;
  background-color: #03b6e7;
  border-left: 0;
  padding: 60px 80px;
  position: relative;
  margin: 0;
}
.blog-quote-section:before,
.blog-quote-section:after {
  font-family: "FontAwesome";
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  position: absolute;
}
.blog-quote-section:before {
  content: '\f10d';
  left: 30px;
  top: 20px;
}
.blog-quote-section:after {
  content: '\f10e';
  bottom: 15px;
  right: 45px;
}
.blog-quote-section p {
  color: #fff;
}
.blog-post-tags li {
  display: inline-block;
}
.blog-post-tags a {
  color: #717f86;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #ddd;
  background-color: #F5F5F5;
}
.blog-post-tags a:hover {
  color:  #e6561c;
}
.blog-post-tags li + li {
  margin-left: 5px;
}
.share-buttons li {
  display: inline-block;
  margin: 0 6px 8px 0;
}
.share-buttons li a {
  background: #fff;
  border: 2px solid #666;
  border-radius: 3px;
  font-size: 14px;
  padding: 8px 20px;
  display: inline-block;
  line-height: 15px;
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
}
.share-buttons li a.fb-share {
  border-color: #3b5998;
  color: #3b5998;
}
.share-buttons li a.fb-share:hover {
  background-color: #3b5998;
  color: #fff;
}
.share-buttons li a.twitter-share {
  border-color: #1da1f2;
  color: #1da1f2;
}
.share-buttons li a.twitter-share:hover {
  background-color: #1da1f2;
  color: #fff;
}
.share-buttons li a.gplus-share {
  border-color: #dd4b39;
  color: #dd4b39;
}
.share-buttons li a.gplus-share:hover {
  background-color: #dd4b39;
  color: #fff;
}
.share-buttons li a.whatsapp-share {
  border-color: #43d854;
  color: #43d854;
}
.share-buttons li a.whatsapp-share:hover {
  background-color: #43d854;
  color: #fff;
}
.posts-nav {
  width: 100%;
  position: relative;
  display: inline-block;
  min-height: 60px;
}
.posts-nav li {
  position: absolute;
  font-size: 17px;
  font-weight: 500;
  width: 50%;
}
.posts-nav li span {
  display: block;
  color: #999;
  font-size: 13px;
  margin-bottom: 1px;
  font-weight: 500;
}
.posts-nav li.next-post {
  right: 0;
  text-align: right;
}
.posts-nav li.next-post a {
  padding-right: 50px;
}
.posts-nav li.next-post a .fa {
  right: 10px;
}
.posts-nav li.prev-post {
  left: 0;
}
.posts-nav li.prev-post a {
  padding-left: 50px;
}
.posts-nav li.prev-post a .fa {
  left: 10px;
}
.posts-nav li a {
  color: #888;
  display: inline-block;
}
.posts-nav li a .fa {
  font-size: 40px;
  position: absolute;
  color: inherit;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.post-author-area .media-body {
  padding-left: 15px;
}
.post-author-area .media-body h3 {
  margin-bottom: 0.15em;
  text-transform: uppercase;
}
.post-author-area .media-body h5 {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-bottom: 1em;
}
.post-author-area .social-icons .fa {
  width: 28px;
  height: 28px;
  line-height: 28px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––>>> Comments  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.comments-area .posted-comments {
  padding: 20px;
}
.comments-area .posted-comments .comment-meta {
  position: relative;
}
.comments-area .posted-comments .comment-reply-link {
  position: absolute;
  right: 0;
  top: 0;
}
.posted-comments .comment-author-thumb img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
}
.posted-comments .media {
  margin-top: 0;
}
.posted-comments .comment-list li {
  margin-bottom: 40px;
}
.posted-comments .comment-replays li:last-child {
  margin-bottom: 0;
}
.posted-comments .comment-list > li:last-child {
  margin-bottom: 0;
}
.posted-comments ol ol {
  padding-left: 100px;
  margin-top: 20px;
}
.comment-respond {
  padding: 20px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Sidebar Widgets  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.widget-title {
  font-size: 18px;
}
/* Recent Posts */
.recent-posts .recent-post .post-meta {
  font-size: 12px;
  color: #717f86;
}
.recent-posts .recent-post .media-left img {
  width: 80px;
  height: 80px;
}
/* Categories / Archive Widget */
.categories-widget ul > li,
.archive-widget ul > li {
  padding: 12px 0 5px;
}
.categories-widget ul > li + li,
.archive-widget ul > li + li {
  border-top: 1px solid #f2f2f2;
}
.categories-widget li a,
.archive-widget li a {
  display: block;
  font-weight: 300;
  padding-left: 15px;
  position: relative;
}
.categories-widget li a:after,
.archive-widget li a:after {
  content: "\f0da";
  font-family: "FontAwesome";
  font-size: 15px;
  line-height: 17px;
  position: absolute;
  left: 0;
  top: 3px;
}
.categories-widget li span {
  float: right;
}
/* popular-tags sidebar */
.tags .badge {
  margin-right: 8px;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  font-weight: normal;
  border-radius: 3px;
  color: #fff;
  background-color: #b3bfc5;
  margin-bottom: 12px;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.tags .badge:hover {
  color: #fff;
  background-color:  #e6561c;
}
/* Instagram Widget */
.instagram-widget .instagram-widget__item img {
  display: block;
  width: 100%;
}
/* Twitter Widget */
.twitter-list__item a {
  color:  #e6561c;
}
.twitter-list__item .twitter-icon {
  color:  #e6561c;
  font-size: 18px;
  margin-right: 6px;
}
/* Checkout Widget */
.checkout-widget .table td {
  border: none;
  padding: 12px 0;
}
.checkout-widget .table tr + tr > td {
  border-top: 1px solid #eee;
}





/* Buy theme */
.buy-theme {
  z-index: 9999;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 54px;
  height: 54px;
}
.buy-theme:before,
.buy-theme:after {
  content: "";
  display: block;
  width: 54px;
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgb(42, 197, 112);
  opacity: 0;
  animation: animationWave cubic-bezier(0,.54,.53,1) 2s;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
}
.buy-theme:before {
  animation-delay:0.5s;
}
.buy-theme:after {
  animation-delay:0.3s;
}
.buy-theme .fa {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  line-height: 54px;
  background-color: #2ac570;
  color: #fff;
  text-align: center;
  z-index: 2;
}

@keyframes animationWave{
  0% {
      opacity: 0.4;
      transform:  scale(1);
  }
  100% {
    transform:  scale(2);
    opacity: 0;
  }
}




.header-blue{
  background:linear-gradient(135deg, #172a74, #21a9af);
  background-color:#184e8e;
}


.header-blue .navbar{
  background:transparent;
  padding-top:12px;
  padding-bottom:10px;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}



.login-btn-mob{
	display: none;
}






.header-blue .navbar .navbar-brand{
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover{
  color:#f0f0f0;
}

.header-blue .navbar .navbar-brand img{
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.header-blue .navbar .navbar-collapse p{
  margin-top:10px;
  margin-bottom:0;
}

.header-blue .navbar .navbar-collapse p .login{
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse p .login:hover{
  color:#fff;
}

.header-blue .navbar .navbar-toggle{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggle:hover, .header-blue .navbar-toggle:focus{
  background:none;
}

.header-blue .navbar .navbar-toggle .icon-bar{
  background-color:#eee;
}

.header-blue .navbar .navbar-collapse, .header-blue .navbar .navbar-form{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-nav > .active > a, .header-blue .navbar .navbar-nav > .open > a{
  background:none;
  box-shadow:none;
}

.header-blue .navbar.navbar-default .navbar-nav > .active > a, .header-blue .navbar.navbar-default .navbar-nav > .active > a:focus, .header-blue .navbar.navbar-default .navbar-nav > .active > a:hover{
  color:rgba(255,255,255,0.3);
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.header-blue .navbar.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a{
  color:#d9d9d9;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a:focus, .header-blue .navbar.navbar-default .navbar-nav > li > a:hover{
  color:#fcfeff !important;
  background-color:transparent;
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu{
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a{
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a:hover{
  background:#ebeff1;
}

.header-blue .action-button, .header-blue .action-button:active{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover{
  color:#fff;
}

.header-blue .action-button.btn-lg{
  padding:7px 18px;
}

.header-blue .navbar .navbar-form label{
  color:#ccc;
}

.header-blue .navbar .navbar-form .search-field{
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

.header-blue .navbar .navbar-form .search-field:focus{
  border-bottom:1px solid #ccc;
}

.header-blue .hero{
  margin-top:60px;
}


.header-blue .hero h1{
  color:#fff;
  font-size:40px;
  margin-top:190px;
  margin-bottom:24px;
  font-weight:300;
}


.header-blue .hero p{
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

.header-blue .phone-holder{
  text-align:right;
}

.header-blue div.iphone-mockup{
  position:relative;
  max-width:300px;
  margin:20px;
  display:inline-block;
}

.header-blue .iphone-mockup img.device{
  width:100%;
  height:auto;
}

.header-blue .iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/skyscraper.jpg);
  background-size:cover;
  background-position:center;
}

.header-blue .iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.nav-menu1 { margin-left: 40px;}

.nav-menu1 li {font-size:14px;}

.nav-menu2 { float: right; margin: 0 auto;}

.nav-menu2 li {font-size:14px;}

.search-m { margin-left: 40px;}





/* My-Earning-Tabs */

.tabs {
  margin: 0px 20px;
  position: relative;
  width: 100%;
}

.tabs nav {
  display: flex;
  flex-wrap: wrap;

  background: #AD9897;
  color: #6C5D5D;
  width: 150px;
}

.tabs nav a {
  padding: 20px 0px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.tabs nav a:hover,
.tabs nav a.selected {
  background: #6C5D5D;
  color: #AD9897;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.tabs .content {
  padding: 20px 0px;
  position: absolute;
  top: 0px;
  left: 150px;
  color: #6C5D5D;
  width: 0px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.1s linear 0s;
}

.tabs .content.visible {
  padding: 20px;
  width: calc(100% - 150px);
  overflow: scroll;
  opacity: 1;
}

.tabs .content p { padding-bottom: 2px; }

.tabs .content p:last-of-type { padding-bottom: 0px; }

.earnings_head a {
    display: block;
    text-align: center;
    border: 1px solid #068ebc;
    border-radius: 3px;
    padding: 8px 7px;
    font-weight: 700;
}

.line{border-bottom: 1px solid #ededed;}

.fl {
	float: left;
}
.fw {
	width: 100%;
}
.earnings_model ul {
	border-top: 1px solid #e5e5e5;
}
.earnings_model .hd li {
	color: #333;
	font-size: 14px;
}
.earnings_model li:first-child {
	width: 15%;
	text-indent: 10px;
}
.earnings_model li {
	color: #333;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	word-wrap: break-word;
}
.earnings_model li:first-child+li {
	width: 15%;
	padding-right: 10px;
}
.earnings_model .hd li {
	color: #333;
	font-size: 14px;
}
.earnings_model .hd li:first-child+li+li {
	font-weight: normal;
}
.earnings_model li:first-child+li+li {
	width: 16%;
	padding-right: 10px;
	text-align: right;
	font-weight: 700;
	font-size: 14px;
}
.earnings_model .hd li:first-child+li+li+li {
	font-weight: normal;
}
.earnings_model li:first-child+li+li+li {
	width: 20%;
	padding-right: 10px;
	text-align: right;
	font-weight: 700;
	font-size: 14px;
}
.earnings_model li:first-child+li+li+li+li {
	width: 16%;
}
.earnings_model li:first-child+li+li+li+li+li {
	width: 16%;
}



.header-deals-slider .item{
	max-height: 350px;
}
.contact-map{padding-bottom:300px;}

.clsCopyClipboardText {
  position: relative;
  display: inline-block;
}

.clsCopyClipboardText .CopyClipboardText {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.clsCopyClipboardText .CopyClipboardText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.clsCopyClipboardText:hover .CopyClipboardText {
  visibility: visible;
  opacity: 1;
}


.show_mega_options{
  display: none;
}



.loader {
	border: 1px solid #DBDBDB;
	border-radius:4px;
	padding: 10px 20px;
	text-align: center;
	margin: 10% auto;
    width: 50%;
}

.loader a{
	text-decoration: underline;
	color: #151FF8;
}


.loader-heading h3{
	font-weight: bold;
}

.text-bold{
	font-weight:bold;
}

.single_store_img{
	border: 1px solid#eaeaea;
	text-align: center;
	background: #f9f9f9;
}

/* Popup */


.box {
 width: 50%;
 margin: 0 auto;
 background: rgba(53, 52, 52, 0.2);
 padding: 50px;
 border: 2px solid #fff;
 background-clip: padding-box;
 text-align: center;
}

.button {
 font-size: 1em;
 padding: 10px;
 color: #fff;
 border: 2px solid #FF9800;
 border-radius: 20px;
 text-decoration: none;
 cursor: pointer;
 transition: all 0.3s ease-out;
}
.button:hover {
 background: #06D85F;
}

.overlay {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: rgba(0, 0, 0, 0.7);
 transition: opacity 500ms;
 visibility: hidden;
 opacity: 0;
}
.overlay:target {
 visibility: visible;
 opacity: 1;
 z-index: 9999;
}

.popup {
 background: #fff;
 border-radius: 5px;
 width: 40%;
 position: relative;
 transition: all 5s ease-in-out;
	margin: 10% auto;
}

.popup h2 {
 margin-top: 0;
 color: #333;
 font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
 position: absolute;
 top: 20px;
 right: 30px;
 transition: all 200ms;
 font-size: 30px;
 font-weight: bold;
 text-decoration: none;
 color: #333;
}
.popup .close:hover {
 color: #06D85F;
}
.popup .content {
 max-height: 30%;
 overflow: auto;
}


.popup_bg{background-color:#f3f5f3; }
.popup_bg h2{ padding:20px 0 0 20px; font-size: 20px; font-weight: bold; font-family: 'monL', sans-serif;}
.popup_bg p{ padding:10px 0 0 20px; font-family: 'monL', sans-serif; font-size: 16px; line-height: 20px;}
.popup_store_image{ text-align: center;}
.popup_store_image img{ margin:20px;}

.popup-code-block {
    display: inline-block;
    margin-top: 21px;
    border-radius: 4px;
    margin-bottom: 10px;
	text-align: center;
}

.code-txt {
    height: 48px;
    line-height: 48px;
    max-width: 298px;
    min-width: 242px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #e6561c ;
    transition: all .3s;
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 4px 0 0 4px;
    padding: 0 5px;
    box-sizing: border-box;
    border: 1px dashed #e6561c ;
}

.refer-copy{
    padding: 10px 12px;
    font-size: 12px;
    border: 2px solid #dbdbdb;
    box-shadow: none;
}

.copy-btn {
    width: 108px;
    line-height: 48px;
    background-color: #e6561c ;
    border-radius: 0 4px 4px 0;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    vertical-align: top;
    float: right;
}

.dnc_coupon_modal{margin-top: 20px;
    text-align: center;}
.popup_goto_link{   
	font-size: 14px;
    margin-top: 10px;
    color: rgba(0,0,0,0.54);
	padding-bottom: 40px;
}
.popup_goto_link a{ text-decoration: underline; color: #1000de;}




#copied_popup {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#copied_popup.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

/*Income Calculator*/


.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.has-error input{
	border: 1px solid #FF0004;
	color: #FF0004;
}










